h1 {
	font-size: 3.75em;
	margin-top: 8%;
	margin-left: 2%;
	margin-bottom: 0%;
}

h2 {
	font-size: 3.25em;
}

p {
	font-size: 1.5em;
}

@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 3.75em !important;
	}

	h2 {
		font-size: 3.25em !important;
	}	

	p {
		font-size: 1.4em;
	}

	.social {
		max-width: 56px;
		max-height: 56px;
	}

}

@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 3.5em !important;
	}

	h2 {
		font-size: 2.5em !important;
	}	

	p {
		font-size: 1.3em;
	}

	.social {
		max-width: 48px;
		max-height: 48px;
	}

	#portrait {
		top: 32% !important;
	}

	#left {
		margin-top: 20% !important;
	}
}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 3em;
	}	

	h2 {
		font-size: 2em;
	}

	p {
		font-size: 1em;
	}

	#portrait {
		top: 35% !important;
	}

	.social {
		max-width: 40px;
		max-height: 40px;
	}

	#left {
		margin-top: 27% !important;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 2.75em !important;
	}
	h2 {
		font-size: 1.75em !important;
	}

	p {
		font-size: 0.9em;
	}

	#portrait {
		top: 38% !important;
	}

	.social {
		max-width: 32px;
		max-height: 32px;
	}

	#left {
		margin-top: 45% !important;
	}
}



#text {
	max-width: 40%;
	margin-left: 10%;
	margin-top: 4%;
	margin-right: 5%
}

#portrait {
	position: absolute;
	top: 32%;
	right: 10%;
	max-height: 45%;
	max-width: 25%;
	width: auto;
	border-radius: 50%;

}

#socials {
	margin-left: 8%;
}

.social {
	margin: 2%;
}

#left {
	margin-top: 15%;
}