body {
	background-color: #FEFEFA;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	color: #36454F;
	margin-bottom: 2.5%;
	margin-top: 0%;
	text-align: right;
}


h1 {
	font-size: 6em;
	margin-right: 5%;
}

h2 {
	font-size: 3em;
	text-decoration: none;
	margin-right: 6%;
}

@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 3em;
	}	

}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 4.5em;
	}	

	h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
	}
}



#buttons {
	display: flex;
	justify-content: flex-end;
}

a {
  margin-right: 5%;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

a:hover {
  text-decoration: underline solid #36454F;
}

img {
	max-width: 100%;
	height: auto;
}

