h1 {
	font-size: 4em;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 1%;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.8em;
	color: #FEFEFA !important;
}

p {
	font-size: 1.4em;
	color: #FEFEFA !important;
	width: 70%;
	margin-left: 15%;
}

#content{
	margin-top: 7% !important;
}

@media only screen and (max-width: 1400px) {
	h2, h3 {
		font-size: 1.6em !important;
	}

	p {
		font-size: 1.3em;
	}

	.row {
		height: 40% !important;
	}
}

@media only screen and (max-width: 1100px) {
	h2, h3 {
		font-size: 1.5em !important;
	}

	p {
		font-size: 1.1em;
	}

	#buttons {
		margin-bottom: 3% !important;
	}

	#content {
		margin-top: 8% !important;
	}

	.row {
		height: 38% !important;
	}

	.project {
		width: 40% !important;
	}
}

@media only screen and (max-width: 900px) {
	h2, h3 {
		font-size: 1.3em !important;
	}

	p {
		font-size: 1em;
	}

	#content {
		margin-top: 10% !important;
	}

	.row {
		height: 32% !important;
	}

	.project {
		width: 38% !important;
	}
}

@media only screen and (max-width: 700px) {
	h2, h3 {
		font-size: 1.1em !important;
	}

	p {
		font-size: 0.8em;
	}

	#content {
		margin-top: 15% !important;
	}

	.row {
		height: 29% !important;
	}

	.project {
		width: 38% !important;
	}
}

.row {
	display: flex;
	justify-content: center;
	height: 45%;
	margin-top: -2%;
}

.project {
	width: 40%;
	margin: 3%;
	text-align: center; 
	background: #36454F;
}

#text {
	text-align: center;
	line-height: 1.5;
}

.description, .languages {

}